#left-text-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px; /* Text at the top */
    left: 10px;
}

#collapse-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

#collapse-arrow:hover {
    color: #94692D;
}

#caret {
    font-size: 16px;
}


h4 {
    cursor: pointer;
}

.dropdown {
    width: 250px;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    column-gap: 10px;
    row-gap: 10px;
}

.item {
    padding: 5px 10px;
    background-color: var(--nav-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.item:hover {
    background-color: var(--left-nav-hover);
}

.item h1, .item h2, .item h3 {
    color: var(--text-color);
}