.nav-bar {
    position: fixed;
    background-color: var(--nav-background-color);
    top: 0;
    left: 0px;
    right: 0px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    z-index: 3;
}

button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    align-items: center;
}

button:hover {
    color: #94692D;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: solid 1px #94692D;
    color: #94692D;
    font-weight: bold;
}
.chip img {
    float: left;
    margin: -10px 10px 0 -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.chip {
    font-size: 16px;
}

