:root {
    --background-color: #d9d9d9;
    --nav-background-color: #5d5d5d;
    --text-color: black;
}
  
[data-theme="dark"] {
    --background-color: #151515;
    --nav-background-color: #292929;
    --text-color: white;
}

.nav-bar {
    position: fixed;
    background-color: var(--nav-background-color);
    top: 0;
    left: 0px;
    right: 0px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    display: flex;
    gap: 5px;
    min-height: 70px;
    z-index: 3;
}

button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

button:hover {
    color: #94692D;
}