:root {
    --background-color: #fafafa;
    --nav-background-color: #c7c4bb;
    --left-nav-background-color: #baad91;
    --text-color: black;
}
  
[data-theme="dark"] {
    --background-color: #151515;
    --nav-background-color: #292929;
    --left-nav-background-color: #4e3a1f;
    --text-color: white;
}

html,
body {
    height: 90vh;
    margin: 0;
    background-color: var(--background-color);;
    font-family: "Segoe UI", Verdana, sans-serif;
    color: var(--text-color);
    padding-left: 5%;
    padding-right: 5%;
}

h1, h2, h3 {
    color: #94692d;
}

#footer{
    margin-top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #94692d;
}
#footer-text {
    text-align: center;
}

#footer-logo-image {
    width: 100px;
    height: auto;
}

#view {
    padding-top: 100px;
}

#left-nav{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: var(--left-nav-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s ease;
}